<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/angular.min.js"></script>
</head>
<body>

<div ng-app="">

    <p>Write some names in the input field, use a comma to separate them:</p>

    <input ng-model="customers" ng-list/>

    <p>When the ng-list directive is included, your input is converted into an array, one item for each name:</p>

    <pre>{{customers}}</pre>
    <div ng-repeat="arr in customers">
        <span>{{arr}}</span>
    </div>

</div>


</body>
</html>